:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding-top: 4rem;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #bb000e;
  overflow: scroll;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  padding: 0 1.4rem;
  margin: 0 auto;
  height: 1000px;
}

#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
  background-image: url(images/devil_PNG12.png);
  background-repeat: no-repeat;
  background-size: 84px;
  border-radius: 50%;
  background-position-x: -10px;
  width: 65px;
  height: 65px;
  margin-inline-start: 0.5em;
  margin-right: 20px;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

.navbar-links {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}
img {
  max-width: 100%;
  max-height: 100%;
}

footer {
  position: absolute;
  display: flex;
  width: 100%;
  height: 80px;
  min-height: 50px;
  margin-top: auto;
  background: #161616;
}

container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  margin: 0;
}

.headers {
  display: flex;
  direction: row;
  justify-content: center;
  width: 100%;
}
.header1 {
  background-image: url(images/main_man1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60vh;
  width: 50%;
}
.header2 {
  background-image: url(images/seamless-gym-wear.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60vh;
  width: 50%;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 20rem;
  width: 100%;
  overflow: hidden;
}

#slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
#slider ul {
  display: flex;

  position: relative;
  list-style: none;
  height: 100%;
  width: 200%;
  padding: 0;
  margin: 0;
  transition: all 1000ms ease;
  left: 0;
}
#slider ul li {
  position: relative;
  height: 100%;

  float: left;
}
#slider ul li img {
  width: 600px;
  height: 265px;
}

#slider #prev,
#slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev:hover,
#slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}
#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}

.items {
  transition: all 2s ease;
}

.items:hover {
  transform: scale(1.2);
}

/* background-size: 100% 70vh; (Mobile) */
